{{ define "main" }}
<div class="home">
  <h1 class="page-heading">{{ .Title }}</h1>
  {{ range (.Site.RegularPages.GroupByDate "2006") }}
  {{ $hasPosts := false }}
  {{ range .Pages }}{{ if eq .Type "posts" }}{{ $hasPosts = true }}{{ end }}{{ end }}
  {{ if $hasPosts }}
  <h2>{{ .Key }}</h2>
  <ul class="post-list">
    {{ range .Pages }}
    {{ if eq .Type "posts" }}
    <li>
      <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</span>
      <h3>
        <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
      </h3>
    </li>
    {{ end }}
    {{ end }}
  </ul>
  {{ end }}
  {{ end }}
</div>
{{ end }}
